<!-- INCLUDE ucp_header.html -->
<br>
Liste des CG
<table class="table1" cellspacing="1">
	<tr>
		<th>ID CG</th>
		<th>Titre</th>
	</tr>
	<!-- BEGIN liste_cg -->
	<tr>
		<td>{liste_cg.ID}</td>
		<td><a href="ucp.php?i=cg&mode=recap_edf&cg_id={liste_cg.ID}">{liste_cg.TITRE}</a></td>
	</tr>
	<!-- END liste_cg -->
</table>

<br>

page <a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}">1</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=10">2</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=20">3</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=30">4</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=40">5</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=50">6</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=60">7</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=70">8</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=80">9</a>, 
<a href="ucp.php?i=cg&mode=recap_edf&cg_id={CG_ID}&start=90">10</a>
<br>
<br>
<form method="post">
	<input type="submit" value="màj" name="submit" > 
	<input type="hidden" name="update_quantite" value="1" /> 
	<input type="hidden" name="t" value="{TOPIC_ID}" />
	<input type="hidden" name="start" value="{START_PAGE}" />

	<table class="table1" cellspacing="1">
	    <tr>
	        <th>id</th>
	        <th>posteur</th>
	        <th>liste des posts</th>
	        <th>Count</th>
	    </tr>
	    <!-- BEGIN liste_posts -->
		<tr>
	        <td>{liste_posts.ID}</td>
	        <td>{liste_posts.POSTER}</td>
	        <td>{liste_posts.POSTER_POSTS}</td>
	        <td>{liste_posts.COMMANDE}</td>
	    </tr>
	    <!-- END liste_posts -->
	
	</table>
</form>

<!-- INCLUDE ucp_footer.html -->